html {
    height: 100%;
  }
  
  body {
    height: 100%;
  }
  
  div.container-fluid {
    height: 100%;
  }
  
  div#participants {
    overflow-y: auto;
  }
  
  div.localss > video {
    display: inline-flex;
    max-width: 1200px;
    max-height:700px;
    overflow: hidden;    
  }

  div.refereeparticipant {
    display: inline-flex;
    max-width: 200px;
    max-height:125px;
    overflow: hidden;
    padding-left:1px!important;
    padding-right:1px!important;
    padding-top:1px!important;
    padding-bottom:1px!important;
    margin-left:1px!important;
    margin-right:1px!important;
    margin-top:1px!important;
    margin-bottom:1px!important;
  }

  div.localparticipant {
    display: inline-flex;
    max-width: 100px;
    max-height:62px;
    overflow: hidden;
    padding-left:1px!important;
    padding-right:1px!important;
    padding-top:1px!important;
    padding-bottom:1px!important;
    margin-left:1px!important;
    margin-right:1px!important;
    margin-top:1px!important;
    margin-bottom:1px!important;
  }

  div.remoteparticipant {
    display: inline-flex;
    width:550px;
    max-width: 800px;
    max-height:650px;
    //overflow: hidden;
    padding-left:1px!important;
    padding-right:1px!important;
    padding-top:1px!important;
    padding-bottom:1px!important;
    margin-left:1px!important;
    margin-right:1px!important;
    margin-top:1px!important;
    margin-bottom:1px!important;    
  }

  div.refereeparticipant > video {
    width: 100%;
    border: 1px solid gray;
    max-height: 125px;
  }

  div.localparticipant > video {
    width: 100%;
    border: 1px solid gray;
    max-height: 62px;
  }

  div.remoteparticipant > video {
    width: 550px;
    border: 1px solid gray;
    max-width: 850px;
    max-height: 650px;
  }
  
  div.participant.active {
    border: 1px solid crimson;
    box-shadow: 0 0 5px crimson;
  }
  
  div.participant.active.pinned {
    border: 1px solid limegreen;
    box-shadow: 0 0 5px limegreen;
  }
  
  div.participant:hover {
    cursor: pointer;
  }
  
  div.participant::before {
    background-color: black;
    color: white !important;
    content: attr(data-identity);
    font-size: 19px;
    padding: 0 5px;
    position: absolute;
    z-index: 1000;
  }
  
  div.participant.main::before {
    font-size: 14px;
    padding: 0 10px;
  }

